#content-box {
    width: 100%;
    /* height: 300px; */
    /* background-color: red; */
    /* border: 1px solid black; */
    margin: 10px 0px;
    padding: 30px;
}
#left-menu {
    margin-top: 30px;
}
#main-box {
    background-color: rgb(32, 32, 32);
    width: 55%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 3px 4px black;
    color: white;
}
h1 {
    margin: 10px;
    text-align: center;
}
#left-menu .active, #left-menu .active a {
    background-color: aliceblue;
    color:  rgb(32, 32, 32);
}
#left-menu li {
    /* border: 1px solid black; */
    padding: 5px 10px;
    background-color: rgb(32, 32, 32);
    color: aliceblue;
}
.align-center {
    text-align: center;
}
.item-list p {
    margin: 0px auto 20px auto;
}
.to-send-box {
    width: 100%;
    background-color: rgb(148, 195, 255);
    margin: 10px auto;
    border-radius: 20px;
    padding: 20px 30px;
    color: black;
}
.to-send-box .row, .to-send-box .col {
    /* border: 1px solid black; */
}
.to-send-box .row {
    margin-bottom: 5px;
}
.box-img {
    height: 100px;
}
.btn-box, .btn-box form {
    width: 100%;
    margin-top: 10px;
}
.bg-yellow {
    background-color: rgb(255, 255, 168);
}
.bg-green {
    background-color: rgb(133, 255, 133);
}