label {
    color: rgb(255, 255, 255);
}
#box {
    width: 40%;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #1985A1;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px;
}
.box {
    width: 40%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3e719e;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px;
}
.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #DCDCDD;
    margin-bottom: 20px;
}
#title {
    margin-bottom: 20px;
}
.title {
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
}